body {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0; }

.calculator {
  margin: auto;
  background-color: black;
  color: white; }
  @media (min-width: 640px) {
    .calculator {
      width: 300px; } }
  @media (max-width: 640px) {
    .calculator {
      height: 100%; } }
  .calculator-icon {
    fill: white;
    vertical-align: bottom; }
  .calculator-close {
    fill: white;
    vertical-align: bottom;
    float: right; }
  .calculator-delete {
    fill: white; }
  .calculator-bar {
    padding: 1rem; }
    @media (max-width: 640px) {
      .calculator-bar {
        height: 5%; } }
  .calculator-display {
    background-color: #dcdcdc;
    border: 1px solid black;
    font-size: 3rem;
    font-weight: 700;
    text-align: right; }
    @media (max-width: 640px) {
      .calculator-display {
        height: 20%; } }
  .calculator-groups {
    margin: 0;
    padding: 0; }
    @media (max-width: 640px) {
      .calculator-groups {
        height: 15%; } }
  .calculator-button {
    background-color: black;
    font-size: 2rem; }
